@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;700;800;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: #F1EFE7;
    font-family: 'Libre Baskeville';
}

h1 {
    font-family: 'League Spartan';
    font-weight: 700;
    color: #490908;
    font-size: 3rem;
}

h2 {
    font-family: 'League Spartan';
    font-weight: 500;
    color: #490908;
}

h3, h4, h5 {
    font-family: 'League Spartan';
    font-weight: 500;
    font-size: 2rem;
    color: #490908;
}

.intro-div {
    padding-bottom: 2rem;
}

strong {
    font-weight: 600;
}

.btn-large {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    padding: 0 20px;
    font-family: 'League Spartan';
    letter-spacing: 0.15rem;
    font-weight: 500;
}

/* Navbar */

.brand-logo {
    font-family:'League Spartan';
    font-weight: 700;
    color: #490908 !important;
    letter-spacing: -0.09em;
}

.sidenav-trigger {
    color: #BC8B8A;
}

.cafeworks-beans {
    width: 1.5rem;
    margin: 0rem 0.2rem;
}

nav ul a {
    font-family:'League Spartan';
    font-weight: 500;
    font-style: bold;
    font-size: 1.5rem;
    color: #BC8B8A !important;
}

.dropdown-trigger {
    cursor: pointer;
    padding-bottom: 0.25rem;
    clear: both;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    position: relative;
    top: -0.25rem;
}

.fa-caret-down:before {
    padding-left: 1rem;
}

/* Register Page */

.flash-messages h4 {
    line-height: 2;
}

/* Footer */

.page-footer {
    background-color: #BC8B8A !important;
}

.footer-copyright {
    font-family: 'League Spartan';
    font-weight: 500;
}

.footer-content h5, .footer-content p {
    text-align: right;
}

.social-links {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.social-links a {
    margin: 0 0.6rem 0 0;
}

/* Main Cafes Page */

.btn-floating.halfway-fab {
    position: relative;
    bottom: 0.1rem;
    right: 0.2rem;
}

.fas.fa-times-circle:before {
    color: #e57373;
    font-size: 2.6rem;
}

.fas.fa-chevron-up:before {
    font-size: 2.2rem;
}

.btn-small {
    margin: 0.25rem;
    position: relative;
    font-family: 'League Spartan';
    letter-spacing: 0.15rem;
    font-weight: 500;
}

.search-btn {
    width: 10rem;
    font-size: 1rem;
    text-align:center
}

.fa-search::before, 
.fa-undo:before {
    font-size: 1.5rem;
}
.card .card-content {
    padding: 10px 24px 24px 10px;
    border-radius: 0 0 2px 2px;
}

.card-buttons {
    padding-top: 0.5rem;
}

/* Add Cafe */

.cafe-form {
    background-color: white;
    border-radius: 1%;
    margin-bottom: 2rem;
    padding: 0 2rem !important;
}

.top-form {
    padding-top: 1rem;
}

.bottom-form {
    padding-bottom: 1rem;
}

/* Code credit - https://www.joshwcomeau.com/css/designing-shadows/ */
.box-drop-shadow {
    filter: drop-shadow(
      1px 2px 4px hsl(42.86deg 3.7% 62.94%)
    );
  }

  .input-field>label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #490908;
}

.select-wrapper+label {
    top: -32px;
}

@media only screen and (max-width: 600px) {

.search-btn {
    width: 4rem;
    font-size: 0rem;
    text-align:center
}

}

@media screen and (min-width: 993px) and (max-width: 1111px) {

.row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}
    
}