@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;700;800;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: #F1EFE7;
    font-family: 'Libre Baskeville';
}

h1 {
    font-family: 'League Spartan';
    font-weight: 700;
    color: #490908;
    font-size: 3rem;
}

h2 {
    font-family: 'League Spartan';
    font-weight: 500;
    color: #490908;
}

h3, h4, h5 {
    font-family: 'League Spartan';
    font-weight: 500;
    font-size: 2rem;
    color: #490908;
}

.intro-div {
    padding-bottom: 2rem;
}

strong {
    font-weight: 600;
}

.btn-large {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    padding: 0 20px;
    font-family: 'League Spartan';
    letter-spacing: 0.15rem;
    font-weight: 500;
}

/* Navbar */

.brand-logo {
    font-family:'League Spartan';
    font-weight: 700;
    color: #490908 !important;
    letter-spacing: -0.09em;
}

.sidenav-trigger {
    color: #BC8B8A;
}

.cafeworks-beans {
    width: 1.5rem;
    margin: 0rem 0.2rem;
}

nav ul a {
    font-family:'League Spartan';
    font-weight: 500;
    font-style: bold;
    font-size: 1.5rem;
    color: #BC8B8A !important;
}

/* .text-shadow {
    text-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.5);
} */

/* Register Page */

.flash-messages h4 {
    line-height: 2;
}

/* Footer */

.page-footer {
    background-color: #BC8B8A !important;
}

.footer-copyright {
    font-family: 'League Spartan';
    font-weight: 500;
}

.footer-content h5, .footer-content p {
    text-align: right;
}

.social-links {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.social-links a {
    margin: 0 0.6rem 0 0;
}

/* All Cafes Page */

.btn-floating.halfway-fab {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.fas.fa-times-circle:before {
    color: #e91e63;
    font-size: 2.6rem;
}

.fas.fa-chevron-up:before {
    font-size: 2.2rem;
}
