@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;700;800;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: #F1EFE7;
    font-family: 'Libre Baskeville';
}

h1 {
    font-family: 'League Spartan';
    font-weight: 700;
    color: #490908;
}

h2, h3 {
    font-family: 'League Spartan';
    font-weight: 500;
    color: #490908;
}

/* Navbar */

.brand-logo, .sidenav-trigger {
    font-family:'League Spartan';
    font-weight: 700;
    color: #490908 !important;
}

.cafeworks-beans {
    width: 1.5rem;
    margin: 0rem 0.2rem;
}

nav ul a {
    font-family:'League Spartan';
    font-weight: 500;
    font-style: bold;
    font-size: 1.5rem;
    color: #490908 !important;
}

.text-shadow {
    text-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.5);
}

/* Register Page */

