{% extends "base.html" %}
{% block content %}

    <!-- Add Cafe Intro -->
    <div class="container intro-div center-align">
        <h1>Add Cafe</h1>
        <p>Fill in the form to share your remote working cafe recommendation.</p>
    </div>

    <!-- Form -->
    <div class="container">
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('add_cafe') }}">
                <!-- Cafe Name -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="cafe_name" type="text" class="validate">
                        <label for="cafe_name">Cafe Name</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Town / City Name -->
                    <div class="input-field col s12 m6">
                        <input id="city_name" type="text" class="validate">
                        <label for="city_name">Town / City Name</label>
                    </div>
                    <!-- Country Selection -->
                    <div class="input-field col s12 m6">
                        <select id="country_name" name="country_name" class="validate" required>
                            <option value="" disabled selected>Choose Country</option>
                            {% for country in countries %}
                                <option value="{{ country.country_name }}" data-icon="#">{{ country.country_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="country_name">Country Name</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Google Maps Link -->
                    <div class="col s12">
                        <div class="input-field">
                            <input id="map_link" placeholder="If no link available please type N/A" type="text" class="validate">
                            <label for="map_link">Google Maps link</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Cafe Description -->
                    <div class="input-field col s12">
                        <textarea id="cafe_description" placeholder="Tell us a little bit about the cafe.." class="materialize-textarea" data-length="250"></textarea>
                        <label for="cafe_description">Cafe Description</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Power Outlets -->
                    <div class="input-field col s6">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Yes - many</option>
                            <option value="2">Yes - some</option>
                            <option value="3">None</option>
                            </select>
                        <label>Power Outlets available?</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Free Wifi -->
                    <div class="input-field col s6">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Yes - unlimited</option>
                            <option value="2">Yes - capped</option>
                            <option value="3">No</option>
                        </select>
                        <label>Free WiFi available?</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Wifi Speed -->
                    <div class="input-field col s6">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Excellent</option>
                            <option value="2">Good</option>
                            <option value="3">Okay</option>
                            <option value="4">N/A</option>
                            </select>
                        <label>Wifi Speed</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Submit Button -->
                    <div class="col s12 center-align">
                        <button class="btn waves-effect waves-light" type="submit">
                            Add Cafe
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}