{% extends "base.html" %}
{% block content %}

    <!-- Intro & Add Cafe Button -->
    <div class="container intro-div center-align">
        <h1>Remote Working Cafes</h1>
        <p>Explore cafes suitable for remote working in different locations around the world.<br>
            Click on a cafe for more details. Or perhaps add your own cafe recommendation to share with others?</p>
        <a href="{{ url_for('add_cafe') }}" class="btn-large">ADD CAFE</a>
    </div>
    
    <!-- Cafe Card -->
    <div class="row">
        <div class="container">
            <div class="row">
                <div class=>
                    {% for cafe in cafes %}
                    <div class="card col s12 m6 l4">
                        <!-- Card Image -->
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="https://materializecss.com/images/sample-1.jpg">
                        </div>
                        <!-- Edit / Delete Buttons -->
                        <div class=" card-buttons waves-effect waves-block waves-light">
                            <a class="activator btn-floating halfway-fab waves-effect waves-light red lighten-2"><i class="fas fa-chevron-up"></i></a>
                            <a href="{{ url_for('edit_cafe', cafe_id=cafe._id) }}" class="waves-effect waves-light btn-small">Edit</a>
                            <a class="waves-effect waves-light btn-small">Delete</a>
                        </div>
                        <!-- Cafe Details -->
                        <div class="card-content">
                            <span class="card-title activator">{{ cafe.cafe_name }}</span>
                            <p><strong>Country:</strong> {{ cafe.country_name }}</p>
                            <p><strong>City:</strong> {{ cafe.city_name }}</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title activator">{{ cafe.cafe_name }}<i class="fas fa-times-circle right"></i></span>
                            <p>
                                <strong>Country:</strong> {{ cafe.country_name }}<br>
                                <strong>City:</strong> {{ cafe.city_name }}<br>
                                <a href="{{ cafe.map_link }}" target="_blank">Google Map Link</a> 
                            </p>
                            <p>
                                <strong>WiFi?</strong> {{ cafe.free_wifi }}<br>
                                <strong>WiFi Speed:</strong> {{ cafe.wifi_speed }}<br>
                                <strong>Outlets?</strong> {{ cafe.power_outlets }}
                            </p>
                            <p><strong>Cafe Description:</strong> {{ cafe.cafe_description }}</p>
                            <p>
                                <strong><em>Published by:</em></strong> <em>@{{ cafe.published_by }}</em><br>
                                <strong><em>Published on:</em></strong> <em>{{ cafe.published_on }}</em>
                            </p>   
                        </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
        </div>
    </div>

{% endblock %}