{% extends "base.html" %}
{% block content %}

    <!-- Intro & Add Cafe Button -->
    <div class="container intro-div center-align">
        <h1>Remote Working Cafes</h1>
        <p>Explore cafes suitable for remote working in different locations around the world.<br>
            Click on a cafe for more details. Or perhaps add your own cafe recommendation to share with others?</p>
        <a href="#" class="btn-large">ADD CAFE</a>
    </div>
    
    <!-- Cafe Card -->
    <div class="row">
        <div class="container">
            <div class="row">
                <div class=>
                    {% for cafe in cafes %}
                    <div class="card col s12 m6 l4">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="https://materializecss.com/images/sample-1.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator">{{ cafe.cafe_name }}</span>
                            <p><strong>Country:</strong> {{ cafe.country_name }}</p>
                            <p><strong>City:</strong> {{ cafe.city_name }}</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title activator">{{ cafe.cafe_name }}<i class="fas fa-window-close right"></i></span>
                            <p><strong>Country:</strong> {{ cafe.country_name }}</p>
                            <p><strong>City:</strong> {{ cafe.city_name }}</p>
                            <p><strong>WiFi?</strong> {{ cafe.free_wifi }}</p>
                            <p><strong>WiFi Speed:</strong> {{ cafe.wifi_speed }}</p>
                            <p><strong>Outlets?</strong> {{ cafe.power_outlets }}</p>
                            <p><strong>Cafe Description:</strong> {{ cafe.cafe_description }}</p>
                            <p><strong>Published by:</strong> @{{ cafe.published_by }}</p>
                            <p><strong>Published on:</strong> {{ cafe.published_on }}</p>
                            <a href="{{ cafe.map_link }}" target="_blank">Google Map Link</a>    
                        </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
        </div>
    </div>

{% endblock %}