{% extends "base.html" %}
{% block content %}

    <!-- Intro -->
    <div class="container intro-div center-align">
        <h1>Manage Locations</h1>
        <p>Below are the countries we currently have avaialable to add cafe details through the Cafeworks page.<br>
            Please keep checking back as more locations are made available to add your favourite cafes!</p>
        <div class="col s12 center-align">
                <a href="{{ url_for('add_country') }}" class="btn-large">
                    Add Country
                </a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for country in countries %}
            <div class="card col s12 m6 l4">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                    </div>
                    <!-- Edit / Delete Buttons -->
                    <div class=" card-buttons waves-effect waves-block waves-light">
                        <a href="{{ url_for('edit_country', country_id=country._id) }}" class="waves-effect waves-light btn-small">Edit</a>
                        <a href="{{ url_for('delete_country', country_id=country._id) }}" class="waves-effect waves-light btn-small">Delete</a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ country.country_name }}</span>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}