{% extends "base.html" %}
{% block content %}

    <!-- Add Cafe Intro -->
    <div class="container center-align">
        <h1>Edit Cafe</h1>
        <p>Fill in the form to share your remote working cafe recommendation.</p>
    </div>

    <!-- Form -->
    <div class="container">
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('edit_cafe', cafe_id=cafe._id) }}">
                <!-- Cafe Name -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="cafe_name" name="cafe_name" minlength="5" maxlength="50"
                             value="{{ cafe.cafe_name }}" type="text" class="validate" required>
                        <label for="cafe_name">Cafe Name</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Town / City Name -->
                    <div class="input-field col s12 m6">
                        <input id="city_name" name="city_name" minlength="5" maxlength="50"
                            value="{{ cafe.city_name }}" type="text" class="validate" required>
                        <label for="city_name">Town / City Name</label>
                    </div>
                    <!-- Country Selection -->
                    <div class="input-field col s12 m6">
                        <select id="country_name" name="country_name" class="validate" required>
                            <option value="" disabled>Choose Country</option>
                            {% for country in countries %}
                                {% if country.country_name == cafe.country_name %}
                                    <option value="{{ country.country_name }}" data-icon="#" selected>{{ country.country_name }}</option>
                                {% else %}
                                    <option value="{{ country.country_name }}" data-icon="#">{{ country.country_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="country_name">Country Name</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Google Maps Link -->
                    <div class="col s12">
                        <div class="input-field">
                            <input id="map_link" name="map_link" placeholder="If no link available please type N/A" 
                                type="text" value="{{ cafe.map_link }}" class="validate" required>
                            <label for="map_link">Google Maps link</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Cafe Description -->
                    <div class="input-field col s12">
                        <textarea id="cafe_description" name="cafe_description" placeholder="Tell us a little bit about the cafe.." 
                            class="materialize-textarea validate" data-length="250" required>{{ cafe.cafe_description }}</textarea>
                        <label for="cafe_description">Cafe Description</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Power Outlets -->
                    <div class="input-field col s12 m6">
                        <select id="power_outlets" name="power_outlets" class="validate" required>
                            <option value="" disabled>Choose your option</option>
                            {% for power_option in power_options %}
                                {% if power_option.power_outlets == cafe.power_outlets %}
                                    <option value="{{ power_option.power_outlets }}" selected>{{ power_option.power_outlets }}</option>
                                {% else %}
                                    <option value="{{ power_option.power_outlets }}">{{ power_option.power_outlets }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="power_outlets">Power Outlets available?</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Free Wifi -->
                    <div class="input-field col s12 m6">
                        <select id="free_wifi" name="free_wifi" class="validate" required>
                            <option value="" disabled>Choose your option</option>
                            {% for free_wifi_option in free_wifi_options %}
                                {% if free_wifi_option.free_wifi == cafe.free_wifi %}
                                    <option value="{{ free_wifi_option.free_wifi }}" selected>{{ free_wifi_option.free_wifi }}</option>
                                {% else %}
                                    <option value="{{ free_wifi_option.free_wifi }}">{{ free_wifi_option.free_wifi }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="free_wifi">Free WiFi available?</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Wifi Speed -->
                    <div class="input-field col s12 m6">
                        <select id="wifi_speed" name="wifi_speed" class="validate" required>
                            <option value="" disabled>Choose your option</option>
                            {% for wifi_speed_option in wifi_speed_options %}
                                {% if wifi_speed_option.wifi_speed == cafe.wifi_speed %}
                                    <option value="{{ wifi_speed_option.wifi_speed }}" selected>{{ wifi_speed_option.wifi_speed }}</option>
                                {% else %}
                                    <option value="{{ wifi_speed_option.wifi_speed }}">{{ wifi_speed_option.wifi_speed }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        <label for="wifi_speed">Wifi Speed</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Form Buttons -->
                    <div class="col s12 center-align">
                        <!-- Cancel -->
                        <a href="{{ url_for('get_cafes') }}" class="btn-large red lighten-1 waves-effect waves-light">
                            Cancel
                        </a>
                        <!-- Submit -->
                        <button class="btn-large waves-effect waves-light" type="submit">
                            Edit Cafe
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}