{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix brown-text text-darken-4"></i>
                        <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" autocomplete="username" required autofocus>
                        <label for="username">Username</label>
                        <span class="helper-text" data-error="Please enter a username between 5-15 characters with only numbers and letters" data-success="Username criteria met">Please enter a username between 5-15 characters with only numbers and letters</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix brown-text text-darken-4"></i>
                        <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" autocomplete="new-password" required>
                        <label for="password">Password</label>
                        <span class="helper-text" data-error="Please enter a password between 5-15 characters with only numbers and letter" data-success="Password criteria met">Please enter a password between 5-15 characters with only numbers and letters</span>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s12 btn-large">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already have an account?
                <a href="{{ url_for('signin') }}" class="brown-text text-darken-4"><em>Sign In</em></a> here!
            </p>
        </div>
    </div>

{% endblock %}