{% extends "base.html" %}
{% block content %}

    <div class="row">
        <form class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">Register</span>
                </div>
                <div class="card-content">
                    <p>test</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </form>
  </div>

{% endblock %}