{% extends "base.html" %}
{% block content %}

    {% for topten in toptens %}
        <h2>{{ topten.topten_title }}</h2>
        {{ topten.category_name }}<br>
        {{ topten.topten_one }}<br>
        {{ topten.topten_two }}<br>
        {{ topten.topten_three }}<br>
        {{ topten.topten_four }}<br>
        {{ topten.topten_five }}<br>
        {{ topten.topten_six }}<br>
        {{ topten.topten_seven }}<br>
        {{ topten.topten_eight }}<br>
        {{ topten.topten_nine }}<br>
        {{ topten.topten_ten }}<br>
        {{ topten.location_name }}<br>
        {{ topten.trip_length }}<br>
        {{ topten.published_by }}<br>
        {{ topten.published_on }}<br>
	{% endfor %}	

{% endblock %}